<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/plugins/fontawesome-free/css/all.css" />
    <include path="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.css" />
    <include path="~/plugins/icheck-bootstrap/icheck-bootstrap.css" />
    <include path="~/plugins/jqvmap/jqvmap.css" />
    <include path="~/dist/css/adminlte.css" />
    <include path="~/plugins/overlayScrollbars/css/OverlayScrollbars.css" />
    <include path="~/plugins/daterangepicker/daterangepicker.css" />
    <include path="~/plugins/summernote/summernote-bs4.css" />
    <include path="~/Content/Site.css" />
  </styleBundle>
</bundles>